body{
    background-color: #f5f7fb;
}

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(red, green, blue, 0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}